

<div class="jumbotron">
  <h1 class="display-3">PairBnB</h1>
  <p class="lead">Rent unique places to stay from local hosts in 190+ countries..</p>
  <hr class="m-y-2">
  	<p class="lead">
	    <a class="btn btn-primary btn-lg" href="http://localhost:3000/sign_up" role="button">How it Works</a>
	  </p>
  
  <% if current_user %>
	  
	  <p class="lead">
	    <a href="/users/<%= current_user.id %>">User Profile</a>
	  </p>

	  <%= link_to "Listings", listings_path, class: "btn btn-primary" %>

  <% else %>

  	<p class="lead">
	    <a class="btn btn-secondary btn-lg" href="http://localhost:3000/sign_in" role="button">Sign in</a>
	  </p>

	  <p class="lead">
	    <a class="btn btn-primary btn-lg" href="http://localhost:3000/sign_up" role="button">Sign up</a>
	  </p>

	  <%= link_to "Listings", listings_path, class: "btn btn-primary btn-lg" %>
	<% end %>
</div>



