<div class="row text-center">
	<br>
	<h1> Congratulations! </h1> 
	<br>
	<h3>Thanks for your booking for <i>" <%= @whatever %> "</i></h3>
</div>

<br>

<div class="row text-center">
	<%= link_to "Dashboard", dashboard_path, class: "btn btn-primary btn-lg" %>
</div>